apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-payment
  labels:
    app: ms-payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-payment
  template:
    metadata:
      labels:
        app: ms-payment      
      annotations:              
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"

    spec:
      containers:
      - name: ms-payment
        image: jpedroduarte123/fiap-srv-payment:latest
        ports:
        - containerPort: 8080

        envFrom:
        - secretRef:
            name: secrets-ms-payment

        livenessProbe:
          httpGet:  
            path: /health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 20

        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10

        resources: 
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "512Mi"